* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #001429;
}

#gameCanvas {
    background-color: #001429;
    background: -webkit-gradient(linear, left top, left bottom, from(#000306), to(#001429));
    background: -moz-linear-gradient(top, #000306 0%, #001429 100%);
    display: block;
}

