extends layout

block content
    a(href='https://github.com/jbillmann/GarageServer.IO')
        img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png')
    canvas#gameCanvas