doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/garageserver.io.js')
    script(src='/javascripts/jquery-2.0.0.min.js')
    script(src='/javascripts/keyboard.min.js')
    script(src='/javascripts/gameloop.js')
    script(src='core.js')
    script(src='/javascripts/game.js')
  body
    block content